.ondigo-captcha-img-container {
    overflow: hidden;
    position: relative;

    img, .ondigo-captcha-img-overlay {
        width: 100%;
    }

    .ondigo-captcha-img-overlay {
        position: absolute;
        top: 0px;
        left: 0px;
        transition: background-color 0.4s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        // height is set dynamically via JS

        &.show {
            background-color: rgba(0, 0, 0, 0.20);
        }
    }
}

.ondigo-captcha-refresh-container {
    display: flex;
    align-items: center;
    justify-content: start;

    .ondigo-captcha-refresh-text {
        font-size: 14px;

        &.disabled {
            pointer-events: none;
            cursor: default;
            opacity: 0.75;
            text-decoration: none;
        }
    }
}